/*your custom css goes here*/
.shop-banner {
    position: relative;
    margin-bottom: 1.3rem;
  }
  .h-150px {
      height: 150px;
  }
  .img-fit {
      max-width: 100%;
      width: 100%;
      object-fit: cover;
  }
  .shop-logo {
    position: absolute;
    top: 20%;
    left: 7%;
  }
  .shop-summary {
    position: absolute;
    top: 30%;
    left: 27%;
    background-color: #fff;
    opacity: 80%;
    padding: 5px;
    border-radius: 4px;
  }
  .shop-summary .shop-name {
    font-size: 1.3125rem!important;
  }
  .shop-summary p {
    margin: 0;
  }
  

/* Single Shop*/

h2 span {
  color: #1e98d5;
  margin: 0 0 0 8px;
  padding: 8px 16px;
  line-height: 15px;
  letter-spacing: 2.5px;
  border-radius: 50px;
  text-transform: uppercase;
  background-color: #fff;
  border: 1px solid #1e98d5;
  font-size: 10px;
  font-weight: 500;
  position: relative;
  top: -6px;
}